
<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
        <%= link_to "#{cocktail.name}", cocktail_path(cocktail), class: "text-decoration: none;"%>
      </div>
    <% end %>
  </div>
</div>






