<nav class="nav">
  <a href="/"><img width="200" height="100" src="/assets/logo-972bd049ac6b3d500fcddd98e253c3ee65596a970d614172523c7fb71d1eb1cf.gif"></a>
  <a class="bouton" href="/cocktails/new">Add a new cocktail</a>
</nav>
