.conteneur-form {
  margin: 25vh 65vh;
}

.bouton-form {
  margin: 25%;
}
.simple_form {
  padding: 16px;}

@media(max-width: 992px) {
  .conteneur-form {
    margin: 16px;
  }

  .simple_form .bouton {
    margin: 54px;
  }
}
