.nav {
  z-index: 7;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1A0A0A;
  border-bottom: 2px solid $vanilla;
  a {
    margin: 0;
    margin-right: 32px;
  }
  transition: display 0.2s ease-out;
}
