// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
}
body {
  background-color: $chocolate;
  color: $vanilla;
  font-family: 'Josefin Sans', sans-serif;
}
h1, h2, h3, h5 {
  font-family: 'Josefin Sans', sans-serif;
}
.image-banner {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: solid $vanilla 2px;
}
.conteneur {
  margin: 0 35vh;
  text-align: center;
}

.conteneur h1 {
  margin: 50px 0;
}

.img-container {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('banner.jpg');
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.inner-container {
  text-align: center;
  position: absolute;
  width: 100%;
  color: $vanilla;
  height: auto;
  h1 {
    color: $vanilla;
    text-shadow: 1px 1px 3px rgba(26,10,10,0.8);
  }
}

.bouton {
  border-radius: 5px;
  margin-top: 35px;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  padding: 10px;
  background-color: $vanilla;
  border: 4px solid $vanilla;
  color: $chocolate;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
    &:hover, &:active {
      color: $vanilla;
      background-color: transparent;
    }
}

@media(max-width: 992px) {
  .conteneur {
    margin: 0px 75px;
  }
}
